<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

    <head>
        <title>Mediscreen</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.2/css/bootstrap.min.css" />

    </head>

    <body>
        <div class="container">
            <h1>Application Mediscreen</h1>
            <div class="column">
                <p th:text= "${patient.getFirstName()}"></p>
                <p th:text= "${patient.getLastName()}"></p>
                <p th:text= "${patient.getDob()}"></p>
                <p th:text= "${patient.getAddress()}"></p>
                <p th:text= "${patient.getPhone()}"></p>
            </div>

            <div class="column">
                <h3>Notes</h3>
                <span th:text="${noteList.isEmpty()} ? 'No notes'"></span>
                <div th:each="note : ${noteList}" class="col-md-10 my-1">

                    <p th:text= "${note.getNotes()}"></p>
                    <a th:href="@{|/notes/update/${note.getId()}|}"> Modify </a>


                </div>
                <form th:action="@{/notes/add/{patId}(patId = ${patient.getPatientId()})}" th:object="${noteBean}" method="post">
                    <label for="newNote">New Note</label>
                    <textarea name="notes" id="newNote"></textarea>
                    <!--<input type="hidden"   name="patId" th:value="${patient.getPatientId()}">-->
                    <input class="btn btn-primary btn-sm" type="submit" value="Add Note">
                </form>

            </div>
            <a class="btn btn-primary btn-sm" th:href="@{/calculateDiabetesRisk/{patientId}(patientId=${patient.getPatientId()})}">Calculate diabetes risk</a>

          <!--  <form action="#" th:action="@{/calculateDiabetesRisk/{patientId}(patientId = ${patient.getPatientId()})}"  method="post">
                <input type="hidden"   name="patientId" th:value="${patient.getPatientId()}">
                <input class="btn btn-primary btn-sm" type="submit" value="Calculate diabetes risk">
            </form>-->

         <!--   <p>Patient diabetes risk :</p>
            <span th:text="${report == null} ? 'No report'"></span>
            <p th:text="${report.getDiagnostic()}"></p>-->
        </div>
        <span class="d-flex p-2 justify-content-center"> <a class="d-flex p-2 justify-content-center btn btn-success " style="width: 250px;" th:href="@{/patient/manage/{patientId}(patientId=${patient.getPatientId()})}">Manage data patient</a></span>
        <div class="d-flex p-2 justify-content-center">
        <!--<a class="btn btn-primary btn-sm" th:href="@{/patients}">Backward</a>-->
            <form action="#" th:action="@{/patients}"  method="post">
                <input type="hidden"   name="lastName" th:value="${patient.getLastName()}">
                <input class="btn btn-primary btn-sm" type="submit" value="Backward">
            </form>
            <a class="btn btn-primary btn-sm" th:href="@{/}">New search</a>
        </div>
        <script type="text/javascript" src="webjars/bootstrap/4.1.2/js/bootstrap.min.js"></script>

    </body>

</html>